<div class="px-4 sm:px-6 lg:px-8 py-16">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">
        Add Subscriber
      </h1>
      <p class="mt-2 text-sm text-gray-700">
        Add a new subscriber to the newsletter
      </p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <button type="button" [routerLink]="['/subscribers']"
              class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
        List of All Subscribers
      </button>
    </div>
  </div>
</div>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="px-4 sm:px-6 lg:px-8 py-4 max-w-1/2 w-full flex flex-col">
    <div class="w-full md:w-1/2 lg:w-1/2 py-1 inline-block">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput autocomplete="off" type="text" placeholder="Name" name="Name" formControlName="name"
               (key.space)='$event.preventDefault()'>
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="this.helpers.errorHandling(this.form,'name', 'required')">Name is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/2 py-1 inline-block">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput autocomplete="off" type="email" placeholder="Email" name="Email" formControlName="email"
               (key.space)='$event.preventDefault()'>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="this.helpers.errorHandling(this.form,'email', 'required')">Email is required
        </mat-error>
        <mat-error *ngIf="this.helpers.errorHandling(this.form,'email', 'email')">Email is invalid
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mt-4">
      <button type="submit"
      class="inline-flex items-center justify-center rounded-md border border-transparent px-4 py-2 bg-indigo-600 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
       {{buttonText}}
      </button>
    </div>

    <p class="mt-4">
        <span class="text-red-500 text-md">{{ errorObject }}</span>
    </p>

    <p class="mt-4">
        <span class="text-green-600 text-md">{{ successMsg }}</span>
    </p>
  </div>
</form>
